<!-- 主要内容 -->
<div class="container-fluid" ng-controller="SelectCtrl">
  <h3 class="m0">下拉框</h3>
  <hr/>

  <div class="row-masonry row-masonry-md-2">
    <div class="col-masonry">
      <widget-panel title="普通下拉框" minable="true">

        <widget-select config="config1" class="form-control"></widget-select>

      </widget-panel>
    </div>

    <div class="col-masonry">
      <widget-panel title="loading">

        <widget-loading class="oval"></widget-loading>
      </widget-panel>
    </div>

    <div class="col-masonry">
      <widget-panel title="loading">

        <widget-loading class="gif"></widget-loading>
      </widget-panel>
    </div>

    <div class="col-masonry">
      <widget-panel title="联动下拉框" minable="true">


        <div>
          <select ng-model="seleted" class="form-control" ng-options="a.name for a in animals">
            <option value="">请选择你的萌宠</option>
          </select>
        </div>

        <div>
          <select ng-model="seleted" class="form-control" ng-options="(a.name + '爱吃' + a.food) for a in animals">
            <option value="">请选择你的萌宠</option>
          </select>
        </div>

        <div>
          <select ng-model="seleted" class="form-control"
                  ng-options="(a.name + '的爱好是' + a.favor) group by a.sex for a in animals">
            <option value="">请选择你的萌宠</option>
          </select>
        </div>

        <div>
          <select ng-model="seletedId" class="form-control" ng-options="a.id as a.name for a in animals">
            <option value="">请选择你的萌宠</option>
          </select>
        </div>

      </widget-panel>
    </div>


    <div class="col-masonry">
      <widget-panel title="loading">
        <widget-loading class="rotate"></widget-loading>
      </widget-panel>
    </div>
  </div>

</div>

