/*!
 * 
 * haili angular bootstrap admin
 * v1.0.0
 * Author: haili042
 *
 */
/* ========================================================================
   Component: src/less/app/utils.less
   统一的样式和变量, 利于风格统一
   @author: haili042
 ========================================================================== */
@import "../../lib/fontawesome/css/font-awesome.min.css";
.wd-xxs {
  width: 60px;
}
.wd-xs {
  width: 90px;
}
.wd-sm {
  width: 150px;
}
.wd-sd {
  width: 200px;
}
.wd-md {
  width: 240px;
}
.wd-lg {
  width: 280px;
}
.wd-xl {
  width: 320px;
}
.wd-xxl {
  width: 360px;
}
.wd-wide {
  width: 100%;
}
.wd-auto {
  width: auto;
}
.m0 {
  margin: 0 !important;
}
.ml0 {
  margin-left: 0 !important;
}
.mr0 {
  margin-right: 0 !important;
}
.mt0 {
  margin-top: 0 !important;
}
.mb0 {
  margin-bottom: 0 !important;
}
.m {
  margin: 10px !important;
}
.ml {
  margin-left: 10px !important;
}
.mr {
  margin-right: 10px !important;
}
.mt {
  margin-top: 10px !important;
}
.mb {
  margin-bottom: 10px !important;
}
.m-sm {
  margin: 5px !important;
}
.ml-sm {
  margin-left: 5px !important;
}
.mr-sm {
  margin-right: 5px !important;
}
.mt-sm {
  margin-top: 5px !important;
}
.mb-sm {
  margin-bottom: 5px !important;
}
.m-lg {
  margin: 15px !important;
}
.ml-lg {
  margin-left: 15px !important;
}
.mr-lg {
  margin-right: 15px !important;
}
.mt-lg {
  margin-top: 15px !important;
}
.mb-lg {
  margin-bottom: 15px !important;
}
.m-xl {
  margin: 30px !important;
}
.ml-xl {
  margin-left: 30px !important;
}
.mr-xl {
  margin-right: 30px !important;
}
.mt-xl {
  margin-top: 30px !important;
}
.mb-xl {
  margin-bottom: 30px !important;
}
.mv {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.mh {
  margin-left: 10px !important;
  margin-right: 10px !important;
}
.mv-lg {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}
.mh-lg {
  margin-left: 15px !important;
  margin-right: 15px !important;
}
.mv-sm {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
.mh-sm {
  margin-left: 5px !important;
  margin-right: 5px !important;
}
.p0 {
  padding: 0 !important;
}
.pl0 {
  padding-left: 0 !important;
}
.pr0 {
  padding-right: 0 !important;
}
.pt0 {
  padding-top: 0 !important;
}
.pb0 {
  padding-bottom: 0 !important;
}
.pv0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.ph0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.p {
  padding: 10px !important;
}
.pl {
  padding-left: 10px !important;
}
.pr {
  padding-right: 10px !important;
}
.pt {
  padding-top: 10px !important;
}
.pb {
  padding-bottom: 10px !important;
}
.p-sm {
  padding: 5px !important;
}
.pl-sm {
  padding-left: 5px !important;
}
.pr-sm {
  padding-right: 5px !important;
}
.pt-sm {
  padding-top: 5px !important;
}
.pb-sm {
  padding-bottom: 5px !important;
}
.p-lg {
  padding: 15px !important;
}
.pl-lg {
  padding-left: 15px !important;
}
.pr-lg {
  padding-right: 15px !important;
}
.pt-lg {
  padding-top: 15px !important;
}
.pb-lg {
  padding-bottom: 15px !important;
}
.p-xl {
  padding: 30px !important;
}
.pl-xl {
  padding-left: 30px !important;
}
.pr-xl {
  padding-right: 30px !important;
}
.pt-xl {
  padding-top: 30px !important;
}
.pb-xl {
  padding-bottom: 30px !important;
}
.pv {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.ph {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.pv-xl {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}
.ph-xl {
  padding-left: 30px !important;
  padding-right: 30px !important;
}
.pv-lg {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}
.ph-lg {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.pv-sm {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.ph-sm {
  padding-left: 5px !important;
  padding-right: 5px !important;
}
.b0 {
  border-width: 0 !important;
}
.bl0 {
  border-left-width: 0 !important;
}
.br0 {
  border-right-width: 0 !important;
}
.bt0 {
  border-top-width: 0 !important;
}
.bb0 {
  border-bottom-width: 0 !important;
}
.br {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}
.bl {
  border-left: 1px solid rgba(0, 0, 0, 0.12);
}
.bt {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}
.bb {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.b {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  border-left: 1px solid rgba(0, 0, 0, 0.12);
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.radius-clear {
  border-radius: 0 !important;
}
.shadow-clear {
  box-shadow: 0 0 0 #000 !important;
}
.text-nowrap {
  white-space: nowrap;
}
/* ========================================================================
   Component: src/less/app/bootstrap-reset.less
   这个文件对 bootstrap 进行非侵入的重置
   @author: haili042
 ========================================================================== */
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
*:focus {
  outline: 0 !important;
}
a {
  outline: none !important;
}
a.text-muted:hover,
a.text-muted:focus {
  color: #748690;
}
[ng-click],
[data-ng-click] {
  cursor: pointer;
}
hr {
  border-top: 1px solid #e4eaec;
}
now {
  display: inline-block;
}
.navbar-toggle .icon-bar {
  background-color: #fff;
}
.list-group {
  line-height: 1.3;
}
.list-group .list-group-item {
  padding: 10px;
}
.panel > .list-group .list-group-item {
  border-top: 0;
}
.page-header {
  border-bottom-color: #e4eaec;
}
.panel .panel-heading {
  border-bottom: 0;
  font-size: 14px;
}
.panel .panel-heading a {
  text-decoration: none !important;
}
.panel.panel-default {
  border-top-width: 3px;
}
.well {
  border: 1px solid #dde6e9;
}
.jumbotron {
  border: 1px solid #dde6e9;
}
@media only screen and (min-width: 768px) {
  .jumbotron {
    padding: 30px 15px;
  }
}
.nav-tabs > li > a {
  font-weight: bold;
  color: #515253;
  background-color: #edf1f2;
  margin: 0;
  border: 1px solid #dde6e9;
  border-radius: 0;
  padding: 10px 20px;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: inherit;
  border-bottom-color: #fff;
}
.tab-content {
  padding: 10px 20px;
  border-style: solid;
  border-width: 0 1px 1px 1px;
  border-color: #dde6e9;
}
.nav-pills + .tab-content {
  border: 0;
  padding: 0;
}
.p0 .tab-content {
  padding: 0 !important;
}
.btn {
  border-radius: 3px;
  font-size: 13px;
  border-color: transparent;
  -webkit-appearance: none;
  outline: none !important;
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
}
.btn.btn-link {
  box-shadow: none;
  border: 0;
}
.btn.btn-default {
  border-color: #eaeaea;
}
.input-group .btn {
  font-size: 14px;
  border-color: #dde6e9;
}
.input-group .input-sm + .input-group-btn .btn {
  font-size: 13px;
}
.form-control {
  box-shadow: 0 0 0 #000 !important;
}
.input-sm,
select.input-sm {
  height: 31px;
}
fieldset {
  padding-bottom: 20px;
  border-bottom: 1px dashed #eee;
  margin-bottom: 20px;
}
fieldset.last-child,
fieldset:last-child {
  border-bottom: 0;
}
fieldset .form-group {
  margin-bottom: 0;
}
@media only screen and (max-width: 767px) {
  input[type="text"],
  input[type="email"],
  input[type="search"],
  input[type="password"] {
    -webkit-appearance: none;
  }
}
.table > thead > tr > th {
  border-bottom-width: 1px;
}
.table > tbody + tbody {
  border-bottom-width: 1px;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 1px;
}
.progress {
  -webkit-box-shadow: 0 0 0 #000;
  box-shadow: 0 0 0 #000;
  border-radius: 3px;
  border: 1px solid #f1f1f1;
  background-color: #fff;
}
.progress .progress-bar {
  -webkit-box-shadow: 0 0 0 #000;
  box-shadow: 0 0 0 #000;
}
.popover {
  box-shadow: 0 0 0 #000;
  border-color: #eee;
  border-bottom: 2px solid #e4eaec;
  border-radius: 3px;
}
.popover .popover-title {
  border: 0;
}
.nav.nav-pills .active > a {
  background-color: #5d9cec;
}
.dropdown-menu {
  border-radius: 3px;
}
.dropdown-header {
  color: #a1a2a3;
}
.navbar-top .navbar-nav > .active > a {
  color: #999;
}
.navbar-top .navbar-nav > .active > a:hover,
.navbar-top .navbar-nav > .active > a:focus {
  color: #d1d2d3;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #666;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
  color: #222;
}
.carousel .carousel-indicators {
  bottom: 0;
}
.carousel .carousel-control.left,
.carousel .carousel-control.right {
  background-image: none;
}
.carousel .carousel-control em {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
}
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
  border-bottom: 0;
}
.modal-backdrop {
  position: fixed;
  bottom: 0;
}
/* ========================================================================
   Component: src/less/app/media-queries.less
   媒体查询
   @author: haili042
 ==========================================================================*/
/* ========================================================================
   Component: src/less/app/form-element.less
   @author: haili042
   表单元素样式
 ==========================================================================*/
.c-checkbox,
.c-radio {
  margin-right: 4px;
}
.c-checkbox *,
.c-radio * {
  cursor: pointer;
}
.c-checkbox input,
.c-radio input {
  opacity: 0;
  position: absolute;
  margin-left: 0 !important;
}
.c-checkbox span,
.c-radio span {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-left: -20px;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: 1px solid #ccc;
  margin-right: 5px;
  text-align: center;
}
.c-checkbox span:before,
.c-radio span:before {
  margin-left: 0;
}
.c-checkbox:hover span,
.c-radio:hover span {
  border-color: #5d9cec;
}
.form-inline .c-checkbox span,
.form-inline .c-radio span {
  margin-left: 0;
}
.c-checkbox.c-checkbox-rounded span,
.c-radio.c-checkbox-rounded span,
.c-checkbox.c-radio-rounded span,
.c-radio.c-radio-rounded span {
  border-radius: 500px;
}
.c-radio span {
  border-radius: 500px;
}
/* the icon */
.c-checkbox span:before,
.c-radio span:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  text-align: center !important;
  font-size: 12px;
  line-height: 18px;
  vertical-align: middle;
}
.c-checkbox,
.c-radio {
  /* override for radio */
  /* 禁用状态 */
  /* override for radio */
}
.c-checkbox input[type=checkbox]:checked + span:before,
.c-radio input[type=checkbox]:checked + span:before,
.c-checkbox input[type=radio]:checked + span:before,
.c-radio input[type=radio]:checked + span:before {
  color: #fff;
  opacity: 1;
  transition: color 0.3s ease-out;
}
.c-checkbox input[type=checkbox]:checked + span,
.c-radio input[type=checkbox]:checked + span,
.c-checkbox input[type=radio]:checked + span,
.c-radio input[type=radio]:checked + span {
  border-color: #5d9cec;
  background-color: #5d9cec;
}
.c-checkbox input[type=radio]:checked + span,
.c-radio input[type=radio]:checked + span {
  background-color: #fff;
}
.c-checkbox input[type=radio]:checked + span:before,
.c-radio input[type=radio]:checked + span:before {
  color: #5d9cec;
}
.c-checkbox input[type=checkbox]:disabled + span,
.c-radio input[type=checkbox]:disabled + span,
.c-checkbox input[type=radio]:disabled + span,
.c-radio input[type=radio]:disabled + span {
  border-color: #ddd !important;
  background-color: #ddd !important;
}
.c-checkbox input[type=radio]:disabled + span,
.c-radio input[type=radio]:disabled + span {
  background-color: #fff !important;
}
.c-checkbox input[type=radio]:disabled + span:before,
.c-radio input[type=radio]:disabled + span:before {
  color: #ddd;
}
.c-radio.c-radio-nofont {
  /* override for radio */
  /* Disable state */
  /* override for radio */
}
.c-radio.c-radio-nofont span:before {
  content: "";
  width: 10px;
  height: 10px;
  top: 50%;
  left: 50%;
  margin-top: -5px;
  margin-left: -5px;
  border-radius: 500px;
}
.c-radio.c-radio-nofont input[type=radio]:checked + span:before {
  color: #fff;
  opacity: 1;
  transition: color 0.3s ease-out;
}
.c-radio.c-radio-nofont input[type=radio]:checked + span {
  border-color: #5d9cec;
  background-color: #5d9cec;
}
.c-radio.c-radio-nofont input[type=radio]:checked + span {
  background-color: #fff;
}
.c-radio.c-radio-nofont input[type=radio]:checked + span:before {
  background-color: #5d9cec;
}
.c-radio.c-radio-nofont input[type=radio]:disabled + span {
  border-color: #ddd !important;
  background-color: #ddd !important;
}
.c-radio.c-radio-nofont input[type=radio]:disabled + span {
  background-color: #fff !important;
}
.c-radio.c-radio-nofont input[type=radio]:disabled + span:before {
  background-color: #ddd;
}
.form-control-rounded {
  border-radius: 100px;
}
.switch .form-control {
  padding-top: 7px;
  margin-bottom: 0;
}
.switch * {
  cursor: pointer;
}
.switch input {
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.switch span {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 100px;
  transition: all .5s;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1) inset;
  vertical-align: middle;
}
.switch span:after {
  content: "";
  position: absolute;
  background-color: #fff;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  border: 1px solid #ddd;
  border-radius: 400px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-transition: all .2s;
}
.switch.switch-lg span {
  width: 50px;
  height: 25px;
}
.switch.switch-lg span:after {
  height: 23px;
  width: 23px;
}
.switch.switch-sm span {
  width: 30px;
  height: 15px;
}
.switch.switch-sm span:after {
  height: 13px;
  width: 13px;
}
.switch input:checked + span {
  background-color: #5d9cec;
  border-color: #5d9cec;
  transition: all .5s;
}
.switch input:checked + span:after {
  left: 50%;
  transition: all .2s;
}
.form-control-feedback {
  left: 16px;
  right: auto;
}
.form-control + .form-control-feedback,
.form-control + .parsley-errors-list + .form-control-feedback {
  right: 0;
  left: auto;
  top: 10px;
}
.input-sm + .form-control-feedback,
.input-sm + .parsley-errors-list + .form-control-feedback {
  top: 0;
}
label + .form-control + .form-control-feedback,
label + .form-control + .parsley-errors-list + .form-control-feedback {
  top: 36px;
}
.input-md {
  width: 260px;
}
/* ========================================================================
   Component: src/less/frame/layout.less
   总体布局
   @author: haili042
 ========================================================================== */
.wrapper {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100%;
}
.wrapper > .header {
  position: fixed;
  width: 100%;
  height: 56px;
  z-index: 101;
}
.wrapper > .left-bar {
  position: fixed;
  width: 237px;
  left: 0;
  top: 56px;
  bottom: 0;
  border-right: 1px solid;
  overflow-y: scroll;
  z-index: 99;
}
@media only screen and (max-width: 991px) {
  .wrapper > .left-bar {
    width: 70px;
  }
}
@media only screen and (max-width: 479px) {
  .wrapper > .left-bar {
    display: none;
  }
}
.wrapper > .main-content {
  position: relative;
  margin-left: 220px;
  height: 100%;
  top: 56px;
  margin-bottom: 56px !important;
  z-index: 100;
}
@media only screen and (max-width: 991px) {
  .wrapper > .main-content {
    margin-left: 70px;
  }
}
@media only screen and (max-width: 479px) {
  .wrapper > .main-content {
    margin-left: 0;
  }
}
.wrapper > .footer {
  position: absolute;
  margin-left: 220px;
  left: 0;
  right: 0;
  height: 60px;
  border-top: 1px solid;
  z-index: 100;
}
@media only screen and (max-width: 991px) {
  .wrapper > .footer {
    margin-left: 70px;
  }
}
@media only screen and (max-width: 479px) {
  .wrapper > .footer {
    margin-left: 0;
  }
}
/* ========================================================================
   Component: src/less/theme/theme-blue-dark.less
   @author: haili042
 ========================================================================== */
.wrapper > .header {
  background-color: #23b7e5;
}
.wrapper > .left-bar {
  background-color: #384758;
  border-right-color: rgba(0, 0, 0, 0.14902);
}
.wrapper > .main-content {
  background-color: #f5f7fa;
}
.wrapper > .footer {
  background-color: #e4eaec;
  border-top-color: #aaaaaa;
}
/* ========================================================================
   Component: src/less/login/login.less
   登录页面样式
   @author: haili042
 ==========================================================================*/
.login-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: "微软雅黑", Helvetica, Arial, sans-serif;
}
@media only screen and (min-width: 768px) {
  .login-wrapper {
    background: url("/app/img/bg-blur-1.jpg") no-repeat;
    background-size: 100% 100%;
  }
}
.login-wrapper .m0 {
  margin: 0;
}
.login-wrapper .m-lg {
  margin: 20px;
}
.login-wrapper .mt-lg {
  margin-top: 20px;
}
.login-wrapper .mb-lg {
  margin-bottom: 20px;
}
.login-wrapper > .panel {
  width: 320px;
  margin: 30px auto 0;
  border: 0;
}
.login-wrapper > .panel .panel-heading {
  background-color: #3a3f51;
  color: #fff;
}
.login-wrapper > .panel .panel-heading h1 {
  margin: 0;
  font-size: 18px;
  line-height: 34px;
}
/* ========================================================================
   Component: src/less/frame/navbar-top.less
   @author: haili042
 ========================================================================== */
#navBarTop > .navbar-header .brand-logo {
  width: 30px;
  height: 30px;
}
/* ========================================================================
   Component: src/less/frame/sidebar.less
   @author: haili042
 ========================================================================== */
#sideBarLeft a {
  color: #fff;
}
#sideBarLeft a:hover {
  text-decoration: none;
}
#sideBarLeft ul,
#sideBarLeft li {
  list-style-type: none;
}
#sideBarLeft .ul-l1 {
  margin-top: 20px;
}
#sideBarLeft .ul-l1 .li-l1 {
  line-height: 34px;
}
