/* ========================================================================
   Component: src/less/frame/layout.less
   总体布局
   @author: haili042
 ========================================================================== */

// 变量
@header-ht:               56px;
@left-bar-wd:             220px;
@left-bar-wd-collapsed:   70px;
@right-bar-wd:            200px;
@footer-ht:               60px;

// z-index
@z-index-base:            100;

html, body {
  font-family: 'Hiragino Sans GB', 'Microsoft YaHei', 微软雅黑, Arial, sans-serif;
}


//
// pc 圣杯布局
// ------------------------------
.wrapper {


  position: relative;
  width: 100%;
  height: auto;
  min-height: 100%;

  // 顶部导航栏
  > .header {
    position: fixed;
    top: 0;
    width: 100%;
    height: @header-ht;
    z-index: @z-index-base + 20;
  }

  // 左侧菜单栏
  > .left-bar {
    position: fixed;
    width: @left-bar-wd;
    left: 0;
    top: @header-ht;
    bottom: 0;
    border-right: 1px solid;

    z-index: @z-index-base + 10;
    @media @upto-desktop {
      width: @left-bar-wd-collapsed;
    }
    @media @upto-mobile {
      display: none;
    }

  }

  // 右侧菜单栏
  > .right-bar {

  }

  // 主内容区域
  > .main-content {
    position: relative;
    margin-left: @left-bar-wd;
    height: 100%;
    margin-top: @header-ht;
    margin-bottom: @header-ht !important; // 确保 footer 的位置
    z-index: @z-index-base;
    @media @upto-desktop {
      margin-left: @left-bar-wd-collapsed;
    }
    @media @upto-mobile {
      margin-left: 0;
    }
  }

  // 底部栏
  > .footer {
    position: absolute;
    margin-left: @left-bar-wd;
    left: 0;
    right: 0;
    height: @footer-ht;
    border-top: 1px solid;
    z-index: @z-index-base;
    @media @upto-desktop {
      margin-left: @left-bar-wd-collapsed;
    }
    @media @upto-mobile {
      margin-left: 0;
    }
  }
}