/* ========================================================================
   Component: src/less/frame/navbar-top.less
   @author: haili042
 ========================================================================== */

// -
// -


#navBarTop {
  > .navbar-header {
    .brand-logo {
      background-color: #fff;
      img {
        height: 56px;

      }
    }
  }
}