/* ========================================================================
   Component: src/less/frame/sidebar.less
   @author: haili042
 ========================================================================== */


@l1-ht:        34px;
@l2-ht:        26px;
@scroller-wd:            17px; // 滚动条宽度


#sideBarLeft {
  a {
    color: #fff;
    &:hover {
      text-decoration: none;
    }
  }

  ul, li {
    list-style-type: none;
  }

  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  > .sbl-scroll {
    height: 100%;
    position: relative;
    padding-right: @scroller-wd;

    > .sbl-mask {
      height: 100%;
      //position: fixed;
      //margin-right: -@scroller-width;
      z-index: @z-index-base + 11;

      .ul-l1 {
        margin-top: 20px;

        .li-l1 {
          line-height: @l1-ht;

          .ul-l2 {
            //position: absolute;
            //margin-left: 200px;
            overflow-y: auto;
            background-color: #009998;
            //width: 200px;
          }
        }
      }
    }
  }


}