/* ========================================================================
   Component: src/less/frame/sidebar.less
   @author: haili042
 ========================================================================== */


@h-l1:        34px;
@h-l2:        26px;
@scroller-width:            17px; // 为了不显示滚动条


#sideBarLeft {
  a {
    color: #fff;
    &:hover {
      text-decoration: none;
    }
  }

  ul, li {
    list-style-type: none;
  }

  height: 100%;

  > .sbl-scroll {
    height: 100%;
    overflow-y: scroll;


    > .sbl-mask {
      height: 100%;
      //position: fixed;

      .ul-l1 {
        margin-top: 20px;

        .li-l1 {
          line-height: @h-l1;

          .ul-l2 {
            //position: absolute;
            //margin-left: 200px;
            overflow-y: auto;
            background-color: #009998;
            //width: 200px;
          }
        }
      }
    }
  }


}