/* ========================================================================
   Component: src/less/theme/theme-blue-dark.less
   @author: haili042
 ========================================================================== */
@import '../app/media-queries';

//
// background colors
// ----------------------------------
@bg-clr-content:               #f5f7fa;
@bg-clr-nav:                   #23b7e5;
@bg-clr-aside-l:               #384758;
@bg-clr-aside-sub-l: #283546;
@bg-clr-aside-r:               #5F708E;
@bg-clr-footer:                #e4eaec;
@bg-clr-button:                #23b7e5;
@bg-clr-mask:                  rgba(222,222,222,0.4);


//
// border colors
// ----------------------------------
@bdr-clr-btn:                  @bg-clr-button;
@bdr-clr-nav:                  rgba(0, 0, 0, 0.14902);
@bdr-clr-footer:               #aaaaaa;

//
// font colors
// ----------------------------------
@clr-content:                 #222222;
@clr-nav:                     #23b7e5;
@clr-aside-l:                 #ffffff;
@clr-aside-r:                 #5F708E;
@clr-footer:                  #e4eaec;
@clr-button:                 #23b7e5;

// 颜色类
.bg-clr-nav {
  background-color: @bg-clr-nav;
}


.wrapper {

  // 顶部导航栏
  > .header {
    background-color: @bg-clr-nav;
  }

  // 左侧菜单栏
  > .left-bar {
    background-color: @bg-clr-aside-l;
    border-right-color: @bdr-clr-nav;
  }

  // 右侧菜单栏
  > .right-bar {

  }

  // 主内容区域
  > .main-content {
    background-color: @bg-clr-content;
  }

  // 底部栏
  > .footer {
    background-color: @bg-clr-footer;
    border-top-color: @bdr-clr-footer;
  }
}