/* ========================================================================
   Component: src/less/widget/table.less
   table 组件
   @author: haili042
   @time: 2016年4月12日 16:20:16
 ========================================================================== */

.widget-table {
  @tool-ht: 33px;
  > caption {
    text-align: center;
  }

  > tfoot {

    .page-input {
      width: 60px;
      margin: 0;
      padding: 6px;
      border: none;
      text-align: right;
    }

    .page-info {
      line-height: @tool-ht;
    }
  }

}