<!-- 面板组件 -->
<div class="panel panel-default widget-panel">
  <div class="panel-heading">
    <h4 class="pull-left">
      {{title}}
    </h4>

    <div class="pull-right">
      <i ng-click="toggle()" class="fa"
         ng-class="{'false': 'fa-minus', 'true': 'fa-plus'}[isHide]" ng-if="minable"></i>
      <i ng-click="close()" class="fa fa-close" ng-if="closeable"></i>
    </div>
    <hr/>
  </div>
  <div class="panel-body table" ng-if="!isHide">
    <div ng-transclude="" ng-class="{'table-responsive': responsive}"></div>
  </div>
</div>